.container
    {
        margin-left:20px;
        margin-right:20px;
    }




.status ,.intruder
    {
        display:flex;
        flex-direction: row;
       
        margin:20px;
    }

.status
     {
        background-color: #f4f4f4;
        width:fit-content;
        height:70px;
        padding-right:200px;
    }

.dot1 {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        display:inline-block;
        background-color: #80c117;
        position:relative;
        right:10px;
        text-align:center;
      }

.dot2
      {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display:inline-block;
        background-color: #80c117;
        position:relative;
        left:10px;
        text-align:center;
      }


.box1
    {
        width:200px;
        height:40px;
        padding:7px 10px;
        
        margin-left:20px;
    }

.box2
    {
        margin:20px;
        width:100px;
        height:40px;
        padding-top:6px;

    }

.box3
    {
        margin:20px 20px 20px 100px;
        width:300px;
        height:40px;
       
        

    }    

.box4
    {
        margin-top:25px;
        width:250px;
        height:40px;

    }    



.intruder
    {
         background-color: #fdebeb;
         width:fit-content;
         height:190px;
         padding-left:40px;
         padding-right:460px;
     }


.cam
    {
        width:300px;
        height:100px;
        padding-top:25px;
    }


.info
    {
        width:400px;
        height:100px;
        margin-top:-50px;
        margin:20px 0px 10px 0px;
    }