input[type=password] {
    width: 450px;
    height:44px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
    box-sizing: border-box;
    
  }
  
  input[type=submit] {
    width: 450px;
    height:47px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
    border: none;
    background-color: red;
    cursor: pointer;
  }
