<div id="market" class="tabcontent" style="display: block;">

    <div class="search">
      Prices are monthly per Camera<br>
    </div>
    
  
    <div class="flexbox">
      <div class="box1">
        <img src="/images/face.jpg">
      </div>
      <div class="box2">
        <h3 style="color:red;font-weight:normal">Face Detection</h3>
        <p>The technology assures system performance and reliability with live face detection,simultaneous multiple face recognition and fast face matching in 1-to-1 and 1-to-many modes. Atneva Labs Face Recognition is ideally suited for human resource control applications as well as for security and enformcement aplications. </p>
    
      </div>
      <div class="box3">
        <img src="/images/subscribe.jpg">
      </div>
    </div>
  
   <div class="flexbox">
     <div class="box1">
      <img src="/images/gun.jpg">
     </div>
     <div class="box2">
      <h3 style="color:red;font-weight:normal">Gun Detection</h3>
      <p>Leverage Atneva's best of the bredd pre-trained model to idenify firearms and alert law enforcement within seconds. The model can recognise thousands of different types of guns from small pistols to assault rifles and military grade weapons.</p>
  
     </div>
     <div class="box3">
      <img src="/images/subscribe.jpg">
     </div>
    </div>
  
  
  
  </div>