<div id="market" class="tabcontent" style="display: block;">

    <div class="search">
      Prices are monthly per Camera<br>
    </div>
    
  
    <div class="flexbox" *ngFor="let model of marketModels">
      <div class="box1">
        <img [src]="model.images[0].name.url">
      </div>
      <div class="box2">
        <h3 style="color:red;font-weight:normal">{{model.rowdatas.Name}}</h3>
        <p class="desc">{{model.rowdatas.Description}}</p>
    
      </div>
      <div class="box3">
        <img src="/images/subscribe.jpg" (click)="subscribeModel(model.id)">
      </div>
    </div>
  
  </div>