<div class="container">

    <div class="status">
        <div class="box1">
            <p style="font-size:18px; font-weight:bolder;">AVA Streamer Status</p>
        </div>
        <div class="box2">
            <span class="dot1"><span style="color:white;text-align:right;"> ✔ </span> </span>
            Connected
        </div>
        <div class="box3">
            <span style="font-size:18px;font-weight: bold;">Total Cameras Streaming </span> <span class="dot2"><span
                    style="color:white; font-size:22px;font-weight:bold;">4</span></span>
        </div>
        <div class="box4">
            <b> Last Frame Received </b> 20 Seconds
        </div>

    </div>

    <div class="intruder" *ngFor="let alert of alerts">
        <div class="cam">
            <img [src]="alert.picture || '/images/intruder.jpg'">
        </div>
        <div class="info">
            <span style="color:red;font-size:20px;font-weight: bold;">{{alert.alert_module}}</span>
            <br><br><span style="font-size:30px;">{{alert.sensor_id}}</span>
            <br><br><span style="font-size:15px;font-weight: bold;">{{alert.created_at}}</span>
        </div>

    </div>





</div>