<table>
    <tbody><tr>
        <th><button class="button" id="myBtn"><span class="square">+</span></button>Rule No</th>
        <th>Module</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Count Limit</th>
        <th>CAM IDS</th>
        <th>Enabled</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Person</td>
        <td>9 PM</td>
        <td>6 AM</td>
        <td>0</td>
        <td>CAM 001</td>
        <td><span class="dot">✓</span></td>
    </tr>

    
    <tr>
        <td>2</td>
        <td>Person</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>5</td>
        <td>CAM 004</td>
        <td><span class="dot">✓</span></td>
    </tr>

    
    <tr>
        <td>3</td>
        <td>Fire</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>5</td>
        <td>CAM 002</td>
        <td>close</td>
    </tr>
</tbody></table>