.logocontainer {
  padding-top: 8px;
  margin-left: 58px;
  float: left;
}

.menuitems {
  padding-top: 18px;
}

.menu li {
  display: inline;

  margin-left: 100px;
}

li.navbar {
  padding-left: 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.color {
  color: black;
  position: relative;
  bottom: 10px;
  left: 10px;
}

li.navbar1 {
  padding-left: 40px;
}

a:link {
  text-decoration: none;
}

.frame {
  margin-top: 80px;
  margin-left: 80px;
}

.container {
  margin: 0 auto;
    width: 80%;
    margin-top: 89px;
}
