<div id="mysub" class="tabcontent" style="display: block;">
    <div class="flexbox">
        <div class="box1">
            <img src="/images/person.jpg">
        </div>
        <div class="box2">
            <h3 style="color:red;font-weight:normal">Person Detection</h3>
            <p>Pedestrician Detection is an essential and significiant task in any intelligence video surveillance
                system,as it provides the fundamental information for semantic undertanding of the video footages. It
                has an obvious extension to automative applications due to the potential for improving safety systems.
            </p>
            <div>
                <b> Subscription Date: </b>15-09-2020 &nbsp; &nbsp; &nbsp; &nbsp; <b>Usage: 34656</b> frames,<b> 17
                </b>alerts
            </div>

        </div>
        <div class="box3">
            <!-- Trigger/Open The Modal -->
            <img src="/images/remove.jpg" id="myBtn">
        </div>
    </div>


    <div class="flexbox">
        <div class="box1">
            <img src="/images/bag.jpg">
        </div>
        <div class="box2">
            <h3 style="color:red;font-weight:normal">Unattented Bag Detection</h3>
            <p>Pedestrician Detection is an essential and significiant task in any intelligence video surveillance
                system,as it providesthe fundamental information for semantic undertanding of the video footages. It has
                an obvious extension to automative applications due to the potential for improving safety systems. </p>
            <div>
                <b> Subscription Date: </b>15-09-2020 &nbsp; &nbsp; &nbsp; &nbsp; <b>Usage: 34656</b> frames,<b> 17
                </b>alerts
            </div>
        </div>
        <div class="box3">
            <img src="/images/remove.jpg">
        </div>
    </div>




</div>