<div id="mysub" class="tabcontent" style="display: block;">
    <div class="flexbox" *ngFor="let model of myModels">
        <div class="box1">
            <img [src]="model.images[0].name.url" />
        </div>
        <div class="box2">
            <h3 style="color:red;font-weight:normal">{{model.rowdatas.Name}}</h3>
            <p class="desc">{{model.rowdatas.Description}}</p>
            <div>
                <b> Subscription Date: </b>{{model.created_at}} &nbsp; &nbsp; &nbsp; &nbsp; <b>Usage: 34656</b> frames,<b> 17
                </b>alerts
            </div>

        </div>
        <div class="box3">
            <!-- Trigger/Open The Modal -->
            <img src="/images/remove.jpg" id="myBtn" (click)="showModal=true; modelId=model.id">
        </div>
    </div>




</div>

<div id="myModal" class="modal" [hidden]="!showModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="showModal=false">×</span>
        <div class="confirm">
            Confirm removal of subscription for Person Detection
        </div>
        <div>
            <button id="quity" class="yes size" (click)="unsubscribeModel(); showModal=false;"> Yes</button>
            <button id="quitn" class="no size" (click)="showModal=false"> No </button>
        </div>
    </div>
</div>